//Tab1

.grdTb1-1 {
    display: grid;
    grid-template-columns: 1fr repeat(4, minmax(100px, 120px));
    grid-template-rows: repeat(7, 48px);
    gap: 0px 0px;
    grid-auto-flow: row;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    width: 95%;
    grid-template-areas:
        "title t1 t2 t3 tt"
        "l1 l1c2 l1c3 l1c4 l1tt"
        "l2 l2c2 l2c3 l2c4 l2tt"
        "l3 l3c2 l3c3 l3c4 l3tt"
        "l4 l4c2 l4c3 l4c4 l4tt"
        "l5 l5c2 l5c3 l5c4 l5tt"
        "l6 l6c2tt l6c3tt l6c4tt l6tt";

    .title {
        grid-area: title;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .t1 {
        grid-area: t1;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
    }

    .t2 {
        grid-area: t2;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
    }

    .t3 {
        grid-area: t3;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
    }

    .tt {
        grid-area: tt;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
    }

    .l1 {
        grid-area: l1;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l2 {
        grid-area: l2;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l3 {
        grid-area: l3;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l4 {
        grid-area: l4;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l5 {
        grid-area: l5;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l6 {
        grid-area: l6;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 8px;
    }

    .l1c2 {
        grid-area: l1c2;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l1c3 {
        grid-area: l1c3;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l1c4 {
        grid-area: l1c4;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l1tt {
        grid-area: l1tt;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l2c2 {
        grid-area: l2c2;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l2c3 {
        grid-area: l2c3;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l2c4 {
        grid-area: l2c4;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l2tt {
        grid-area: l2tt;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l3c2 {
        grid-area: l3c2;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l3c3 {
        grid-area: l3c3;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l3c4 {
        grid-area: l3c4;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l3tt {
        grid-area: l3tt;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l4c2 {
        grid-area: l4c2;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l4c3 {
        grid-area: l4c3;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l4c4 {
        grid-area: l4c4;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l4tt {
        grid-area: l4tt;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l5c2 {
        grid-area: l5c2;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l5c3 {
        grid-area: l5c3;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l5c4 {
        grid-area: l5c4;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l5tt {
        grid-area: l5tt;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l6c2tt {
        grid-area: l6c2tt;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l6c3tt {
        grid-area: l6c3tt;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l6c4tt {
        grid-area: l6c4tt;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l6tt {
        grid-area: l6tt;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }
}

.grdTb1-2 {
    display: grid;
    grid-template-columns: 1fr repeat(4, minmax(100px, 120px));
    grid-template-rows: repeat(6, 48px);
    gap: 0px 0px;
    grid-auto-flow: row;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    width: 95%;
    grid-template-areas:
        "title t1 t2 t3 tt"
        "l1 l1c2 l1c3 l1c4 l1tt"
        "l2 l2c2 l2c3 l2c4 l2tt"
        "l3 l3c2 l3c3 l3c4 l3tt"
        "l4 l4c2 l4c3 l4c4 l4tt"
        "l5 l5c2 l5c3 l5c4 l5tt";

    .title {
        grid-area: title;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .t1 {
        grid-area: t1;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
    }

    .t2 {
        grid-area: t2;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
    }

    .t3 {
        grid-area: t3;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
    }

    .tt {
        grid-area: tt;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
    }

    .l1 {
        grid-area: l1;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l2 {
        grid-area: l2;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l3 {
        grid-area: l3;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l4 {
        grid-area: l4;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l5 {
        grid-area: l5;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l1c2 {
        grid-area: l1c2;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l1c3 {
        grid-area: l1c3;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l1c4 {
        grid-area: l1c4;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l1tt {
        grid-area: l1tt;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l2c2 {
        grid-area: l2c2;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l2c3 {
        grid-area: l2c3;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l2c4 {
        grid-area: l2c4;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l2tt {
        grid-area: l2tt;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l3c2 {
        grid-area: l3c2;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l3c3 {
        grid-area: l3c3;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l3c4 {
        grid-area: l3c4;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l3tt {
        grid-area: l3tt;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l4c2 {
        grid-area: l4c2;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        background-color: $momentum_clr11;
        pointer-events: none;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l4c3 {
        grid-area: l4c3;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l4c4 {
        grid-area: l4c4;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l4tt {
        grid-area: l4tt;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l5c2 {
        grid-area: l5c2;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l5c3 {
        grid-area: l5c3;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l5c4 {
        grid-area: l5c4;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l5tt {
        grid-area: l5tt;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }
}

.grdTb1-3 {
    display: grid;
    grid-template-columns: 1fr repeat(4, minmax(100px, 120px));
    grid-template-rows: repeat(3, 48px);
    gap: 0px 0px;
    grid-auto-flow: row;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    width: 95%;
    grid-template-areas:
        "title t1 t2 t3 tt"
        "l1 l1c2 l1c3 l1c4 l1tt"
        "l2 l2c2 l2c3 l2c4 l2tt";

    .title {
        grid-area: title;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .t1 {
        grid-area: t1;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
    }

    .t2 {
        grid-area: t2;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
    }

    .t3 {
        grid-area: t3;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
    }

    .tt {
        grid-area: tt;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
    }

    .l1 {
        grid-area: l1;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l2 {
        grid-area: l2;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l1c2 {
        grid-area: l1c2;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l1c3 {
        grid-area: l1c3;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l1c4 {
        grid-area: l1c4;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l1tt {
        grid-area: l1tt;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l2c2 {
        grid-area: l2c2;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l2c3 {
        grid-area: l2c3;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l2c4 {
        grid-area: l2c4;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l2tt {
        grid-area: l2tt;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }
}

.grdTb1-4 {
    display: grid;
    grid-template-columns: auto repeat(4, minmax(144px, auto));
    grid-template-rows: 96px repeat(2, minmax(48px, auto));
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    width: 95%;
    grid-template-areas:
        "gr_tt gr_0-9 gr_10-19 gr_20-24 gr_25"
        "l1 l1_0-9 l1_10-19 l1_20-24 l1_25"
        "l2 l2_0-9 l2_10-19 l2_20-24 l2_25";

    .gr_tt {
        grid-area: gr_tt;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .gr_0-9 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 48px);
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "gr_0-9tt gr_0-9tt gr_0-9tt"
            "gr_0-9m gr_0-9f gr_0-9nb";
        grid-area: gr_0-9;

        .gr_0-9tt {
            grid-area: gr_0-9tt;
            color: $clr_ps;
            background-color: $clr_s;
            border-left: 1px solid $clr_brdr;
            border-top: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;
        }

        .gr_0-9m {
            grid-area: gr_0-9m;
            color: $clr_ps;
            background-color: $clr_s;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;
            text-align: center;
            line-height: 36px;
            padding: 8px;
        }

        .gr_0-9f {
            grid-area: gr_0-9f;
            color: $clr_ps;
            background-color: $clr_s;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;
            text-align: center;
            line-height: 36px;
            padding: 8px;
        }

        .gr_0-9nb {
            grid-area: gr_0-9nb;
            color: $clr_ps;
            background-color: $clr_s;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;
            text-align: center;
            line-height: 36px;
            padding: 8px;
        }
    }

    .gr_10-19 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 48px);
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "gr_10-19tt gr_10-19tt gr_10-19tt"
            "gr_10-19m gr_10-19f gr_10-19nb";
        grid-area: gr_10-19;

        .gr_10-19tt {
            grid-area: gr_10-19tt;
            color: $clr_ps;
            background-color: $clr_s;
            border-left: 1px solid $clr_brdr;
            border-top: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;
        }

        .gr_10-19m {
            grid-area: gr_10-19m;
            color: $clr_ps;
            background-color: $clr_s;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;
            text-align: center;
            line-height: 36px;
            padding: 8px;
        }

        .gr_10-19f {
            grid-area: gr_10-19f;
            color: $clr_ps;
            background-color: $clr_s;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;
            text-align: center;
            line-height: 36px;
            padding: 8px;
        }

        .gr_10-19nb {
            grid-area: gr_10-19nb;
            color: $clr_ps;
            background-color: $clr_s;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;
            text-align: center;
            line-height: 36px;
            padding: 8px;
        }
    }

    .gr_20-24 {
        display: grid;
        grid-template-rows: repeat(3, 48px);
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "gr_20-24tt gr_20-24tt gr_20-24tt"
            "gr_20-24m gr_20-24f gr_20-24nb";
        grid-area: gr_20-24;

        .gr_20-24tt {
            grid-area: gr_20-24tt;
            color: $clr_ps;
            background-color: $clr_s;
            border-left: 1px solid $clr_brdr;
            border-top: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;
        }

        .gr_20-24m {
            grid-area: gr_20-24m;
            color: $clr_ps;
            background-color: $clr_s;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;
            text-align: center;
            line-height: 36px;
            padding: 8px;
        }

        .gr_20-24f {
            grid-area: gr_20-24f;
            color: $clr_ps;
            background-color: $clr_s;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;
            text-align: center;
            line-height: 36px;
            padding: 8px;
        }

        .gr_20-24nb {
            grid-area: gr_20-24nb;
            color: $clr_ps;
            background-color: $clr_s;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;
            text-align: center;
            line-height: 36px;
            padding: 8px;
        }
    }

    .gr_25 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 48px);
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "gr_25tt gr_25tt gr_25tt"
            "gr_25m gr_25f gr_25nb";
        grid-area: gr_25;

        .gr_25tt {
            grid-area: gr_25tt;
            color: $clr_ps;
            background-color: $clr_s;
            border-left: 1px solid $clr_brdr;
            border-top: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;
        }

        .gr_25m {
            grid-area: gr_25m;
            color: $clr_ps;
            background-color: $clr_s;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;
            text-align: center;
            line-height: 36px;
            padding: 8px;
        }

        .gr_25f {
            grid-area: gr_25f;
            color: $clr_ps;
            background-color: $clr_s;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;
            text-align: center;
            line-height: 36px;
            padding: 8px;
        }

        .gr_25nb {
            grid-area: gr_25nb;
            color: $clr_ps;
            background-color: $clr_s;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;
            text-align: center;
            line-height: 36px;
            padding: 8px;
        }
    }

    .l1 {
        grid-area: l1;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l1_0-9 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "l1_0-9m l1_0-9f l1_0-9nb"
            "l1_0-9m l1_0-9f l1_0-9nb"
            "l1_0-9m l1_0-9f l1_0-9nb";
        grid-area: l1_0-9;

        .l1_0-9m {
            grid-area: l1_0-9m;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;

            input {
                width: 80%;
                height: 80%;
                border: none !important;
                padding: 2px 8px;
                text-align: right;
            }
        }

        .l1_0-9f {
            grid-area: l1_0-9f;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;

            input {
                width: 80%;
                height: 80%;
                border: none !important;
                padding: 2px 8px;
                text-align: right;
            }
        }

        .l1_0-9nb {
            grid-area: l1_0-9nb;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;

            input {
                width: 80%;
                height: 80%;
                border: none !important;
                padding: 2px 8px;
                text-align: right;
            }
        }
    }

    .l1_10-19 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "l1_10-19m l1_10-19f l1_10-19nb"
            "l1_10-19m l1_10-19f l1_10-19nb"
            "l1_10-19m l1_10-19f l1_10-19nb";
        grid-area: l1_10-19;

        .l1_10-19m {
            grid-area: l1_10-19m;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;

            input {
                width: 80%;
                height: 80%;
                border: none !important;
                padding: 2px 8px;
                text-align: right;
            }
        }

        .l1_10-19f {
            grid-area: l1_10-19f;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;

            input {
                width: 80%;
                height: 80%;
                border: none !important;
                padding: 2px 8px;
                text-align: right;
            }
        }

        .l1_10-19nb {
            grid-area: l1_10-19nb;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;

            input {
                width: 80%;
                height: 80%;
                border: none !important;
                padding: 2px 8px;
                text-align: right;
            }
        }
    }

    .l1_20-24 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "l1_20-24m l1_20-24f l1_20-24nb"
            "l1_20-24m l1_20-24f l1_20-24nb"
            "l1_20-24m l1_20-24f l1_20-24nb";
        grid-area: l1_20-24;

        .l1_20-24m {
            grid-area: l1_20-24m;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;

            input {
                width: 80%;
                height: 80%;
                border: none !important;
                padding: 2px 8px;
                text-align: right;
            }
        }

        .l1_20-24f {
            grid-area: l1_20-24f;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;

            input {
                width: 80%;
                height: 80%;
                border: none !important;
                padding: 2px 8px;
                text-align: right;
            }
        }

        .l1_20-24nb {
            grid-area: l1_20-24nb;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;

            input {
                width: 80%;
                height: 80%;
                border: none !important;
                padding: 2px 8px;
                text-align: right;
            }
        }
    }

    .l1_25 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "l1_25m l1_25f l1_25nb"
            "l1_25m l1_25f l1_25nb"
            "l1_25m l1_25f l1_25nb";
        grid-area: l1_25;

        .l1_25m {
            grid-area: l1_25m;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;

            input {
                width: 80%;
                height: 80%;
                border: none !important;
                padding: 2px 8px;
                text-align: right;
            }
        }

        .l1_25f {
            grid-area: l1_25f;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;

            input {
                width: 80%;
                height: 80%;
                border: none !important;
                padding: 2px 8px;
                text-align: right;
            }
        }

        .l1_25nb {
            grid-area: l1_25nb;
            border-right: 1px solid $clr_brdr;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;

            input {
                width: 80%;
                height: 80%;
                border: none !important;
                padding: 2px 8px;
                text-align: right;
            }
        }
    }

    .l2 {
        grid-area: l2;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l2_0-9 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "l2_0-9m l2_0-9f l2_0-9nb"
            "l2_0-9m l2_0-9f l2_0-9nb"
            "l2_0-9m l2_0-9f l2_0-9nb";
        grid-area: l2_0-9;

        .l2_0-9m {
            grid-area: l2_0-9m;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;

            input {
                width: 80%;
                height: 80%;
                border: none !important;
                padding: 2px 8px;
                text-align: right;
            }
        }

        .l2_0-9f {
            grid-area: l2_0-9f;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;

            input {
                width: 80%;
                height: 80%;
                border: none !important;
                padding: 2px 8px;
                text-align: right;
            }
        }

        .l2_0-9nb {
            grid-area: l2_0-9nb;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;

            input {
                width: 80%;
                height: 80%;
                border: none !important;
                padding: 2px 8px;
                text-align: right;
            }
        }
    }

    .l2_10-19 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "l2_10-19m l2_10-19f l2_10-19nb"
            "l2_10-19m l2_10-19f l2_10-19nb"
            "l2_10-19m l2_10-19f l2_10-19nb";
        grid-area: l2_10-19;

        .l2_10-19m {
            grid-area: l2_10-19m;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;

            input {
                width: 80%;
                height: 80%;
                border: none !important;
                padding: 2px 8px;
                text-align: right;
            }
        }

        .l2_10-19f {
            grid-area: l2_10-19f;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;

            input {
                width: 80%;
                height: 80%;
                border: none !important;
                padding: 2px 8px;
                text-align: right;
            }
        }

        .l2_10-19nb {
            grid-area: l2_10-19nb;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;

            input {
                width: 80%;
                height: 80%;
                border: none !important;
                padding: 2px 8px;
                text-align: right;
            }
        }
    }

    .l2_20-24 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "l2_20-24m l2_20-24f l2_20-24nb"
            "l2_20-24m l2_20-24f l2_20-24nb"
            "l2_20-24m l2_20-24f l2_20-24nb";
        grid-area: l2_20-24;

        .l2_20-24m {
            grid-area: l2_20-24m;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;

            input {
                width: 80%;
                height: 80%;
                border: none !important;
                padding: 2px 8px;
                text-align: right;
            }
        }

        .l2_20-24f {
            grid-area: l2_20-24f;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;

            input {
                width: 80%;
                height: 80%;
                border: none !important;
                padding: 2px 8px;
                text-align: right;
            }
        }

        .l2_20-24nb {
            grid-area: l2_20-24nb;
            border-left: 1px solid $clr_brdr;
            border-bottom: 1px solid $clr_brdr;

            input {
                width: 80%;
                height: 80%;
                border: none !important;
                padding: 2px 8px;
                text-align: right;
            }
        }
    }

    .l2_25 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "l2_25m l2_25f l2_25nb"
            "l2_25m l2_25f l2_25nb"
            "l2_25m l2_25f l2_25nb";
        grid-area: l2_25;
    }

    .l2_25m {
        grid-area: l2_25m;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l2_25f {
        grid-area: l2_25f;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }

    .l2_25nb {
        grid-area: l2_25nb;
        border-right: 1px solid $clr_brdr;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;

        input {
            width: 80%;
            height: 80%;
            border: none !important;
            padding: 2px 8px;
            text-align: right;
        }
    }
}

// Fin