// Tab2

// Is your clinic set up to provide emergency contraception to survivors?

// -> oneyes (If yes, did your clinic provide emergency contraception to survivors during this reporting period?)
// --> oneyes_y (Falta DE)
// --> oneyes_n (If no, why is this service not available?)
// ---> oneyes_n1 (National policy does not allow)
// ---> oneyes_n2 (No stock available)
// ---> oneyes_n3 (No trained staff)
// ---> oneyes_n4 (Other)
//

// -> oneno (If no, can your clinic support survivors to access emergency contraception elsewhere through a safe referral?)
// --> oneno_y (Falta DE)
// --> oneno_n (If no, Why?)
// ---> oneno_n1 (No one in the area provides this service)
// ---> oneno_n2 (Other)

// Is your clinic set up to provide Post-Exposure Prophylaxis for HIV to survivors?

// -> twoyes (If no, can your clinic support survivors to access Post-Exposure Prophylaxis for HIV elsewhere through a safe referral?)
// --> twoyes_y (Falta DE)
// --> twoyes_n (If no, why is this service not available?)
// ---> twoyes_n1 (National policy does not allow)
// ---> twoyes_n2 (No stock available)
// ---> twoyes_n3 (No trained staff)
// ---> twoyes_n4 (Other)
//
// -> twono (If no, can your clinic support survivors to access Post-Exposure Prophylaxis for HIV elsewhere through a safe referral?)
// --> twono_y
// --> twono_n
// ---> twono_n1
// ---> twono_n2


.group1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, minmax(48px, auto)) auto;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    align-items: stretch;
    width: 95%;
    margin-bottom: 20px;
    grid-template-areas:
        "title"
        "one_qtn1"
        "one_qtn2"
        "one_qtn3";

    .title {
        grid-area: title;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .one_qtn1,
    .one_qtn2,
    .one_qtn3 {
        .line {
            display: grid;
            grid-template-columns: 1fr 300px;
            grid-template-rows: minmax(48px, auto);
            grid-auto-columns: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            font-family: 'Roboto', sans-serif;
            grid-template-areas:
                "qtn ans";

            .qtn {
                grid-area: qtn;
                color: $clr_p;
                background-color: $clr_ss;
                border-left: 1px solid $clr_brdr;
                border-top: 1px solid $clr_brdr;
                border-bottom: 1px solid $clr_brdr;
                display: flex;
                align-items: center
            }

            .ans {
                grid-area: ans;
                border-left: 1px solid $clr_brdr;
                border-top: 1px solid $clr_brdr;
                border-right: 1px solid $clr_brdr;
                border-bottom: 1px solid $clr_brdr;
                display: flex;
                flex-direction: row;

                .ans_cnt {
                    width: 100%;
                    height: auto;
                    min-height: 48px;

                    .ansx {
                        grid-area: ans;
                        border-left: 1px solid $clr_brdr;
                        border-right: 1px solid $clr_brdr;
                        border-bottom: 1px solid $clr_brdr;
                        min-height: 48px;
                        display: flex;
                        flex-direction: row;
                    }

                    .ansdtx {
                        grid-area: ansdtx;
                        border-left: 1px solid $clr_brdr;
                        border-right: 1px solid $clr_brdr;
                        border-bottom: 1px solid $clr_brdr;
                        min-height: 48px;
                        display: flex;
                        flex-direction: column;

                        input {
                            width: 95%;
                            height: 36px;
                            border: none !important;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }

    .one_qtn1 {
        grid-area: one_qtn1;

        .line {

            .qtn {
                padding-left: 8px;
            }
        }
    }

    .one_qtn2 {
        grid-area: one_qtn2;

        .line {

            .qtn {
                padding: 8px 8px 8px 16px;
            }
        }
    }

    .one_qtn3 {
        grid-area: one_qtn3;

        .line {

            .qtn {
                padding: 8px 8px 8px 24px;
            }

            //  
        }

    }
}

.group2 {
    clear: both;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, minmax(48px, auto)) auto;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    align-items: stretch;
    width: 95%;
    grid-template-areas:
        "two_qtn1"
        "two_qtn2"
        "two_qtn3";

    .two_qtn1,
    .two_qtn2,
    .two_qtn3 {
        .line {
            display: grid;
            grid-template-columns: 1fr 300px;
            grid-template-rows: minmax(48px, auto);
            grid-auto-columns: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            font-family: 'Roboto', sans-serif;
            grid-template-areas:
                "qtn ans";

            .qtn {
                grid-area: qtn;
                color: $clr_p;
                background-color: $clr_ss;
                border-left: 1px solid $clr_brdr;
                border-top: 1px solid $clr_brdr;
                border-bottom: 1px solid $clr_brdr;
                display: flex;
                align-items: center;
            }

            .ans {
                grid-area: ans;
                border-left: 1px solid $clr_brdr;
                border-top: 1px solid $clr_brdr;
                border-right: 1px solid $clr_brdr;
                border-bottom: 1px solid $clr_brdr;
                display: flex;
                flex-direction: row;

                .ans_cnt {
                    width: 100%;
                    height: auto;
                    min-height: 48px;

                    .ansx {
                        grid-area: ans;
                        border-left: 1px solid $clr_brdr;
                        border-right: 1px solid $clr_brdr;
                        border-bottom: 1px solid $clr_brdr;
                        min-height: 48px;
                        display: flex;
                        flex-direction: row;
                    }

                    .ansdtx {
                        grid-area: ansdtx;
                        border-left: 1px solid $clr_brdr;
                        border-right: 1px solid $clr_brdr;
                        border-bottom: 1px solid $clr_brdr;
                        min-height: 48px;
                        display: flex;
                        flex-direction: column;

                        input {
                            width: 95%;
                            height: 36px;
                            border: none !important;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }

    .two_qtn1 {
        grid-area: two_qtn1;

        .line {

            .qtn {
                padding-left: 8px;
            }
        }
    }

    .two_qtn2 {
        grid-area: two_qtn2;

        .line {

            .qtn {
                padding: 8px 8px 8px 16px;
            }
        }
    }

    .two_qtn3 {
        grid-area: two_qtn3;

        .line {

            .qtn {
                padding: 8px 8px 8px 24px;
            }
        }

    }
}

/*
.grdTb2-1a {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 48px 48px;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    font-family: 'Roboto', sans-serif;
    width: 95%;
    grid-template-areas:
        "t1 t1"
        "l1 ans";

    .t1 {
        grid-area: t1;
        color: $clr_ps;
        background-color: $clr_s;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    .l1 {
        grid-area: l1;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
    }

    .ans {
        grid-area: ans;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        flex-direction: row;
    }
}

.grdTb2-a1 {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 48px;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    font-family: 'Roboto', sans-serif;
    width: 95%;
    grid-template-areas:
        "l1 ans";

    .l1 {
        grid-area: l1;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center
    }

    .ans {
        grid-area: ans;
        border-left: 1px solid $clr_brdr;
        border-top: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        flex-direction: row;
    }
}

.grdTb2-a1s,
#ecyes {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 48px;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    font-family: 'Roboto', sans-serif;
    width: 95%;
    grid-template-areas:
        "l1 ans";

    .l1 {
        grid-area: l1;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        align-items: center;
    }

    .ans {
        grid-area: ans;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        flex-direction: row;
    }
}

.grdTb2-a2 {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: repeat(3, 48px);
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    font-family: 'Roboto', sans-serif;
    width: 95%;
    grid-template-areas:
        "l1 ans1"
        "l1 ans2"
        "l1 ans2tx";

    .l1 {
        grid-area: l1;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
    }

    .ans1 {
        grid-area: ans1;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        flex-direction: row;
    }

    .ans2 {
        grid-area: ans2;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        display: flex;
        flex-direction: row;
    }

    .ans2tx {
        grid-area: ans2tx;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        flex-direction: column;

        input {
            width: -webkit-fill-available;
            height: -webkit-fill-available;
            border: none !important;
            //padding: 2px 8px;
            text-align: left;
        }
    }
}

.grdTb2-a4 {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: repeat(5, 48px);
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    font-family: 'Roboto', sans-serif;
    width: 95%;
    grid-template-areas:
        "l1 ansa"
        "l1 ansb"
        "l1 ansc"
        "l1 ansd"
        "l1 ansdtx";

    .l1 {
        grid-area: l1;
        color: $clr_p;
        background-color: $clr_ss;
        border-left: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
    }

    .ansa {
        grid-area: ansa;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        flex-direction: row;
    }

    .ansb {
        grid-area: ansb;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        flex-direction: row;
    }

    .ansc {
        grid-area: ansc;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        flex-direction: row;
    }

    .ansd {
        grid-area: ansd;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        display: flex;
        flex-direction: row;
    }

    .ansdtx {
        grid-area: ansdtx;
        border-left: 1px solid $clr_brdr;
        border-right: 1px solid $clr_brdr;
        border-bottom: 1px solid $clr_brdr;
        display: flex;
        flex-direction: column;

        input {
            width: -webkit-fill-available;
            height: -webkit-fill-available;
            border: none !important;
            //padding: 2px 8px;
            text-align: left;
        }
    }
}

.lv0 {
    padding: 8px;
}

.lv1 {
    padding: 8px 8px 8px 20px;
}

.lv2 {
    padding: 8px 8px 8px 40px;
}

.lv3 {
    padding: 8px 8px 8px 60px;
}

*/